@use "../abstract/mixins";
@use "../abstract/variable" as v;
@use "../base/font";

body {
    background-color: #00487c;
    background-image: url("https://www.transparenttextures.com/patterns/wavecut.png");
}

.active {
    border-bottom: solid v.$accentcolor 3px;
}