{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block main %}
    <div class="grid">
        <div class="un"></div>
        <div class="deux"></div>
        <div class="trois"></div>
        <div class="quatre"></div>
    </div>  
{% endblock %}
