{% extends 'base.html.twig' %}

{% block title %}Modifier{% endblock %}

{% block main %}
    <section>
        <h1>Formulaire d'ajout de canard :</h1>
        {{form_start(canardform)}}
            {{form_widget(canardform)}}
            <button>Envoyer</button>
        {{form_end(canardform)}}
    </section>

{% endblock %}
